#results
/results/**/mocks*/**/*
/results/**/baofit/**/*
/results/**/lin*/**/*
/data/**/*
lrg_results
!/results/**/TwoPCF*ascii
!/results/**/*mystats
!/results/**/*.pdf
!/results/**/alpha*
!/results/**/**.png
!/lrg_results/**/TwoPCF*ascii
!/lrg_results/**/*mystats
!/lrg_results/**/*.pdf
!/lrg_results/**/alpha*
!/lrg_results/**/**.png
**/core*
!**/*.pdf
!**/*mystats
!**/*.png
