/results
src/.env
/bin/*
/patchy_results
/patchy_linhalo
/patchy_recon
/abacus_results
/data/**/*
/lrg_results
python_dewiggle
**/core*
!**/*.pdf
!**/*mystats
!**/*.png
/doc
doc
slurm*
**/notebook/*

